<div class="tab-content">
  <p class="text-center p-4x">
    <img src="/assets/logo/brand-text-color.png" alt="wrapkit" height="28px">
  </p>
  <div class="">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <% if devise_error_messages! !='' %>  
        <div class="alert alert-danger">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <%= devise_error_messages! %>
        </div>
      <%end%>
      <p class="lead">Change your password</p>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group">
        <div class="input-group input-group-in">
          <span class="input-group-addon"><i class="icon-lock"></i></span>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'New Password', class: 'form-control' %>
        </div>
      </div><!-- /.form-group -->

      <div class="form-group">
        <div class="input-group input-group-in">
          <span class="input-group-addon"><i class="icon-lock"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm New Password', class: 'form-control' %>
        </div>
      </div><!-- /.form-group -->

      <div class="form-group animated-hue clearfix">
        <div class="pull-right">
          <%= f.submit "Change my password", class: 'btn btn-primary' %>
        </div>
        <div class="pull-left">
          <a href="/admins/sign_in" class="btn btn-default">Sign In</a>
        </div>
      </div><!-- /.form-group -->
    <% end %>
  </div><!-- /.tab-pane -->
</div><!-- /.tab-content -->